.arc-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $color-grey;
}

@mixin arc($pos, $mg, $tp, $rg, $bt, $lf, $wd, $hg, $br, $btp, $brl, $anim) {
  position: $pos;
  margin: $mg;
  top: $tp;
  right: $rg;
  bottom: $bt;
  left: $lf;
  width: $wd;
  height: $hg;
  border-radius: $br;
  border-top: $btp;
  border-left: $brl;
  border-right: $brl;
  -webkit-animation: $anim;
  animation: $anim;
}

.arc {
  @include arc(
    absolute,
    auto,
    0,
    0,
    0,
    0,
    20rem,
    20rem,
    50%,
    2rem solid $color-primary,
    1.7rem solid transparent,
    rt 2s infinite linear
  );
  &::before {
    @include arc(
      absolute,
      auto,
      0,
      0,
      0,
      0,
      15rem,
      15rem,
      50%,
      2rem solid rgba(13, 237, 99, 0.76),
      1.7rem solid transparent,
      rt 3s infinite linear
    );
    content: "";
  }
  &::after {
    @include arc(
      absolute,
      auto,
      0,
      0,
      0,
      0,
      0,
      0,
      50%,
      initial,
      initial,
      cw 1s infinite
    );
    content: "";
    background: rgb(255, 250, 250);
  }
}

@-webkit-keyframes rt {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rt {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cw {
  0% {
    width: 4rem;
    height: 4rem;
  }
  75% {
    width: 7rem;
    height: 7rem;
  }
  100% {
    width: 4rem;
    height: 4rem;
  }
}

@keyframes cw {
  0% {
    width: 4rem;
    height: 4rem;
  }
  75% {
    width: 7rem;
    height: 7rem;
  }
  100% {
    width: 4rem;
    height: 4rem;
  }
}
