.service-card {
  box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
  background: #1a1a1a;
  margin-top: 0.5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 2.5rem;
}
.service-card:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.service-card .image-box {
  width: 70rem;
  /* height: 100%; */
  @include respond(laptop) {
    width: 80rem;
  }
  @include respond(laptop-md) {
    width: 150rem;
  }

  background: transparent;
  overflow: hidden;
  border-radius: 0;
  border: none;
}
@media only screen and (max-width: 768px) {
  .service-card .image-box {
    width: 100% !important;
    height: 20rem;
  }
}

.service-card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
}
.service-card:hover .image-box img {
  opacity: 0.7;
}
/* .service-card .text-box {
      text-align: left;
    } */
.service-card .text-box .text-container {
  padding: 1rem 1.8rem;
}

.service-card .text-box h4 {
  float: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}
.service-card .text-box h2 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
  letter-spacing: 0.1rem;
  color: white;
}
.service-card .text-box h5 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  float: right;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.rating-wrapper {
  & > :not(:last-child) {
    margin-right: 0.5rem;
  }
}
