.category-side {
  background: #393939;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.filter-section {
  border-top: 0.1rem solid #666666;
  border-bottom: 0.1rem solid #666666;
}

.multi-range-slider {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important;
  padding: 0 !important;
}
.multi-range-slider .bar-inner {
  background-color: $color-primary !important;
}
.multi-range-slider .thumb::before {
  background-color: $color-primary !important ;
  border: 0 !important;
}
.small-input {
  width: 7rem !important;
  height: 3.5rem !important;
  padding: 1rem !important;
}
