.service-wrapper {
  &_service-inner-wrapper {
    background-color: $color-grey;
    padding: 5rem 3rem 3rem 5rem;
    &_image-desc-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      @include respond(laptop-md) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      &_service-image-wrapper {
        width: 35%;

        @include respond(laptop-md) {
          width: 100%;
        }
        &_service-image {
          margin-bottom: 1rem;

          & img {
            width: 100%;
          }
        }
      }
      &_service-description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 60%;
        @include respond(laptop-md) {
          width: 100%;
          margin-top: 2rem;
        }
        &_left {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: start !important;
          -ms-flex-pack: start !important;
          justify-content: start !important;
          -webkit-box-align: start !important;
          -ms-flex-align: start !important;
          align-items: flex-start !important;
          width: 57%;
          & > :not(:last-child) {
            margin-bottom: 1rem;
          }
          &_rating-wrapper {
            & h4 {
              margin-bottom: 1rem;
            }
            &_rating-inner-wrapper {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              & > :not(:last-child) {
                margin-right: 0.2rem;
              }
              &_rating {
                width: 3rem;
                height: 3rem;
              }
            }
          }

          & > :last-child::before {
            content: "";
            position: absolute;
            top: 20%;
            left: -1rem;
            height: 70%;
            width: 0.2rem;
            background-color: $color-grey-light;
            @include respond(laptop-md) {
              display: none;
            }
          }
        }

        &_right {
          width: 40%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end !important;
          -ms-flex-pack: end !important;
          justify-content: flex-end !important;
          -webkit-box-align: start !important;
          -ms-flex-align: start !important;
          align-items: flex-start !important;
          &_seller-details-wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            & > :not(:last-child) {
              margin-bottom: 0.5rem;
            }
            position: relative;
            &_title {
              color: $color-primary;
              font-size: 1.2rem;
            }
            &_vendor-btn {
              cursor: pointer;
              color: $color-white;
              padding: 0;
              font-size: 1.3rem;
              border: none;
              background-color: transparent;
              & > * {
                margin-left: 1rem;
              }
            }
            &_wishlist {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              & > :not(:last-child) {
                margin-right: 1rem;
              }
              &_button {
                background-color: $color-grey-light-2;
                width: 3rem;
                height: 3rem;
                & svg {
                  fill: $color-primary-light;
                }
              }
            }
          }
        }
        & > * {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
        }
        & > :not(:last-child) {
          padding-bottom: 1rem;
        }
        & > :not(:first-child) {
          padding-top: 1rem;
        }
      }
    }
  }
  &_tabs {
    margin-top: 3rem;
    & .nav.nav-tabs {
      border: none;
      & > :not(:last-child) {
        margin-right: 1rem;
        background-color: $color-secondary;
      }
      & > * button {
        padding: 1rem;
        color: $color-white;
        background-color: $color-grey-light;
        border: none;
      }
      & > * button.active {
        background-color: $color-grey;
      }
    }
    & .tab-content {
      background-color: $color-grey;
      border: none;
      padding: 2rem;

      &_ratings-reviews {
        padding: 1.5rem;
        border: 0.1rem solid $color-grey-light;
        border-radius: 1.2rem;

        &_inner-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          position: relative;
          @include respond(laptop-md) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
          }
          &_review {
            font-size: 1.4rem;
          }
          &:before {
            content: "";
            position: absolute;
            bottom: -2rem;
            left: 50%;
            -webkit-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%);
            height: 0.2rem;
            width: 100%;
            background-color: $color-grey-light;
          }
          & > :last-child {
            position: relative;
          }
          & > :last-child:before {
            content: "";
            position: absolute;
            top: 20%;
            left: -1rem;
            height: 80%;
            width: 0.2rem;
            background-color: $color-grey-light;
            @include respond(laptop-md) {
              content: none;
            }
          }
          &_average {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            @include respond(laptop-md) {
              margin-bottom: 2rem;
            }
            & h2 {
              margin-bottom: 1.5rem;
            }
            & > :not(:first-child) {
              margin-bottom: 0.5rem;
            }
            &_rating {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              &_rating-number {
                font-size: 1.2rem;
              }
              &_label {
                width: 6rem;
                font-size: 1.2rem;
              }
              &_rating-wrapper {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 12rem;
                & > :not(:last-child) {
                  margin-right: 0.2rem;
                }
                &_rating {
                  width: 2rem;
                  height: 2rem;
                }
              }
              & > :not(:last-child) {
                margin-right: 1rem;
              }
            }
          }
          &_review {
            width: 70%;
            & > :not(:last-child) {
              margin-bottom: 0.5rem;
            }
            @include respond(laptop-md) {
              width: 100%;
            }
            &_input {
              padding: 0.5rem;
              min-height: 10rem;
              width: 100%;
              background-color: $color-grey-light;
            }
            &_customer-review-and-button-wrapper {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;

              @include respond(laptop-md) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                & > :last-child {
                  margin-top: 1rem;
                }
              }
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between;
              &_customer-review {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                &_label {
                  display: inline-block;
                  margin-right: 1rem;
                }
                &_rating-wrapper {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;

                  & > :not(:last-child) {
                    margin-right: 0.2rem;
                  }
                  &_rating {
                    width: 2rem;
                    height: 2rem;
                  }
                }
              }
              &_button-wrapper {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                & > :not(:last-child) {
                  margin-right: 2rem;
                }
                &_title {
                  font-size: 1.5rem;
                  color: $color-primary;
                }
              }
            }
          }
        }
        &_customer-reviews-wrapper {
          margin-top: 3rem;
          &_title {
            border-bottom: 0.2rem solid $color-grey-light;
            padding-bottom: 2rem;
          }
          & > :not(:last-child) {
            border-bottom: 0.2rem solid $color-grey-light;
          }
          &_review {
            padding: 2rem 2rem 2rem 0;

            &_inner-wrapper {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              margin-bottom: 1rem;
              & > :not(:last-child) {
                margin-right: 2rem;
              }
              &_name {
              }
              &_date {
                font-size: 1rem;
              }
            }
            &_content {
              text-align: justify;
            }
          }
        }
      }
    }
  }
}
